<%- include('../partials/header') %>

<div class="note-index">
	<h1 class="center-spacing"><%= data.QuarterYearChoice %></h1>
	<div class="row-box container align-left purple-background large-text-size">
		<h3 class="white-font">OKR</h3>
		<h3 class="center-spacing white-font">Due Date</h3>
		<h3 class="center-spacing white-font">Progress</h3>
	</div>
	<div class="row-box container above-padding xlarge-text-size">
		<div class="align-left above-padding">
			<%= data.objectiveSpot %>: <%= data.objective %>
		</div> 
		<div class="center-spacing above-padding">
			<%= data.eoqDate.toLocaleDateString("en-US") %>
		</div>
		<div class="center-spacing above-padding">
			<span id="averageProgress">Calculating...</span>
		</div>
	</div>
	<div class="row-box container above-padding xlarge-text-size">
		<div class="align-left above-padding">
			KR1: <%= data.keyResultOne %>
		</div>
		<div class="center-spacing above-padding">
			<%= data.dueDateOne.toLocaleDateString("en-US") %>
		</div>
		<div class="center-spacing above-padding">
			<%= data.keyResultOneProgress %>%
		</div>
	</div>
	<div class="row-box container above-padding xlarge-text-size">
		<div class="align-left above-padding">
			KR2: <%= data.keyResultTwo %>
		</div>
		<div class="center-spacing above-padding">
			<%= data.dueDateTwo.toLocaleDateString("en-US") %>
		</div>
		<div class="center-spacing above-padding">
			<%= data.keyResultTwoProgress %>%
		</div>
	</div>
	<div class="row-box container above-padding xlarge-text-size">
		<div class="align-left above-padding">
			KR3: <%= data.keyResultThree %>
		</div>
		<div class="center-spacing above-padding">
			<%= data.dueDateThree.toLocaleDateString("en-US") %>
		</div>
		<div class="center-spacing above-padding">
			<%= data.keyResultThreeProgress %>%
		</div>
	</div>
</div>
<form id="updateOkrForm" method="POST" action="/okrs/<%= data._id %>?_method=PUT" style="display:none">
	<div>
		<label>Objective:</label>
		<input name="objective" class="update-form" type="text" value="<%= data.objective %>"><br/>
		<label>Date:</label>
		<input name="eoqDate" class="update-form" type="text" value="<%= data.eoqDate.toLocaleDateString("en-US") %>"><br/>
		<label>Progress:</label>
		<input name="objectiveProgress" class="update-form" type="text" value="0"><br/>
	</div>
	<div>
		<label>KR1:</label>
		<input name="keyResultOne" class="update-form" type="text" value="<%= data.keyResultOne %>"><br/>
		<label>Due Date:</label>
		<input name="dueDateOne" class="update-form" type="text" value="<%= data.dueDateOne.toLocaleDateString("en-US") %>"><br/>
		<label>Progress:</label>
		<input name="keyResultOneProgress" class="update-form" type="text" value="<%= data.keyResultOneProgress %>"><br/>
	</div>
	<div>
		<label>KR2:</label>
		<input name="keyResultTwo" class="update-form" type="text" value="<%= data.keyResultTwo %>"><br/>
		<label>Due Date:</label>
		<input name="dueDateTwo" class="update-form" type="text" value="<%= data.dueDateTwo.toLocaleDateString("en-US") %>"><br/>
		<label>Progress:</label>
		<input name="keyResultTwoProgress" class="update-form" type="text" value="<%= data.keyResultTwoProgress %>"><br/>
	</div>
	<div>
		<label>KR3:</label>
		<input name="keyResultThree" class="update-form" type="text" value="<%= data.keyResultThree %>"><br/>
		<label>Due Date:</label>
		<input name="dueDateThree" class="update-form" type="text" value="<%= data.dueDateThree.toLocaleDateString("en-US") %>"><br/>
		<label>Progress:</label>
		<input name="keyResultThreeProgress" class="update-form" type="text" value="<%= data.keyResultThreeProgress %>"><br/>
	</div>
    <input class="button-link" type="submit" value="Save Updates to OKR">
</form>
<div class="detail-button-placement">
	<form id="deleteForm" action="/okrs/<%= data._id %>?_method=DELETE" method="POST">
        <input class="delete-button-link" type="submit" value="Delete OKR">
    </form>
	<div>
		<input type="button" id="showUpdateForm" class="button-link" onclick="handleClick()" value="Update OKR" />
	</div>
	<div>
		<a id="hideAddNoteButton" href="/notes/new/<%= data._id %>" class="button-link">Add a Note</a>
	</div>
</div>
<div>
	<% if (notes.length) { %>
		<% notes.forEach(function(n) { %>
			<% const matchingNote = notes.find(note => note.okrId.toString() === data._id.toString()); %>
			<% if (matchingNote) { %>
				<p>Log Date: <%= matchingNote.logDate.toLocaleDateString("en-US") %></p>
				<p>Note Text: <%= matchingNote.noteText %></p>
			<% } else { %>
				<h5>You haven't taken any notes yet.</h5>
			<% } %>
		<% }) %>
	<% } %>
</div>
</div>
<script>
var keyResultOneProgress = <%= data.keyResultOneProgress %>;
var keyResultTwoProgress = <%= data.keyResultTwoProgress %>;
var keyResultThreeProgress = <%= data.keyResultThreeProgress %>;

var averageProgress = (keyResultOneProgress + keyResultTwoProgress + keyResultThreeProgress) / 3;
var averageProgressElement = document.getElementById("averageProgress");
averageProgressElement.textContent = averageProgress.toFixed(0) + "%";

function handleClick () {
	const myForm = document.getElementById("updateOkrForm");
	const hidePageInfo = document.getElementById("hideDetailsPageInfo");
	const hideAddNoteButton = document.getElementById("hideAddNoteButton");
	const deleteForm = document.getElementById("deleteForm");
	const showUpdateForm = document.getElementById("showUpdateForm");
	if (myForm.style.display !== "none") {
		myForm.style.display = "none";
		hidePageInfo.style.display = "block";
		hideAddNoteButton.style.display = "block";
		deleteForm.style.display = "block";
		showUpdateForm.style.display = "block";
	} else {
		myForm.style.display = "block";
		hidePageInfo.style.display = "none";
		hideAddNoteButton.style.display = "none";
		deleteForm.style.display = "none";
		showUpdateForm.style.display = "none";
	}
}
</script>

<%- include('../partials/footerNote') %>