<%- include('../partials/header') %>

<div><%= data.QuarterYearChoice %></div>
<div>
	Objective: <%= data.objective %><br/>
	Date:<%= data.eoqDate %><br/>
	Progress: 0%<br/>
</div>
<div>
	KR1: <%= data.keyResultOne %><br/>
	Due Date: <%= data.dueDateOne %><br/>
	Progress: <%= data.keyResultOneProgress %>%<br/>
</div>
<div>
	KR2: <%= data.keyResultTwo %><br/>
	Due Date: <%= data.dueDateTwo %><br/>
	Progress: <%= data.keyResultTwoProgress %>%<br/>
</div>
<div>
	KR3: <%= data.keyResultThree %><br/>
	Due Date: <%= data.dueDateThree %><br/>
	Progress: <%= data.keyResultThreeProgress %>%<br/>
</div>
<div>
	<button class="button-link" type="submit">Delete OKR</button>
	<button class="button-link" type="submit">Update OKR</button>
</div>

<%- include('../partials/footerDeep') %>