<%- include('../partials/headerNote') %>

<div class="note-index" id="hideDetailsPageInfo" style="display:block">
	<h1 class="center-spacing"><%= data.QuarterYearChoice %></h1>
	<div class="row-box container align-left purple-background">
		<h3 class="white-font">OKR</h3>
		<h3 class="center-spacing white-font">Due Date</h3>
		<h3 class="center-spacing white-font">Progress</h3>
	</div>
	<div class="row-box container above-padding">
		<div class="align-left above-padding large-text-size">
			<span class="bold"><%= data.objectiveSpot %>:</span><br/><%= data.objective %>
		</div> 
		<div class="center-spacing above-padding large-text-size">
			<%= data.eoqDate.toLocaleDateString("en-US") %>
		</div>
		<div class="center-spacing above-padding large-text-size">
			<span id="averageProgress">Calculating...</span>
		</div>
	</div>
	<div class="row-box container above-padding">
		<div class="align-left above-padding large-text-size input-field-text">
			<span class="bold input-field-text">Key Result One:</span><br/><%= data.keyResultOne %>
		</div>
		<div class="center-spacing above-padding large-text-size input-field-text">
			<%= data.dueDateOne.toLocaleDateString("en-US") %>
		</div>
		<div class="center-spacing above-padding large-text-size input-field-text">
			<%= data.keyResultOneProgress %>%
		</div>
	</div>
	<div class="row-box container above-padding">
		<div class="align-left above-padding large-text-size input-field-text">
			<span class="bold input-field-text">Key Result Two:</span><br/><%= data.keyResultTwo %>
		</div>
		<div class="center-spacing above-padding large-text-size input-field-text">
			<%= data.dueDateTwo.toLocaleDateString("en-US") %>
		</div>
		<div class="center-spacing above-padding large-text-size input-field-text">
			<%= data.keyResultTwoProgress %>%
		</div>
	</div>
	<div class="row-box container above-padding">
		<div class="align-left above-padding large-text-size input-field-text">
			<span class="bold input-field-text">Key Result Three:</span><br/><%= data.keyResultThree %>
		</div>
		<div class="center-spacing above-padding large-text-size input-field-text">
			<%= data.dueDateThree.toLocaleDateString("en-US") %>
		</div>
		<div class="center-spacing above-padding large-text-size input-field-text">
			<%= data.keyResultThreeProgress %>%
		</div>
	</div>
</div>

<form class="note-index" id="updateOkrForm" method="POST" action="/okrs/<%= data._id %>?_method=PUT" style="display:none">
	<h1 class="center-spacing"><%= data.QuarterYearChoice %></h1>
	<div class="row-box container align-left purple-background">
		<h3 class="white-font">OKR</h3>
		<h3 class="center-spacing white-font">Due Date</h3>
		<h3 class="center-spacing white-font">Progress</h3>
	</div>
	<div class="row-box container above-padding">
			<input class="center-spacing above-padding update-form large-text-size" name="objective" type="text" value="<%= data.objective %>">		
			<input class="center-spacing above-padding update-form large-text-size" name="eoqDate" type="text" value="<%= data.eoqDate.toLocaleDateString("en-US") %>">
			<input class="center-spacing above-padding update-form large-text-size" name="objectiveProgress" type="text" value="0">
	</div>
	<div class="row-box container above-padding">
			<input class="center-spacing above-padding update-form large-text-size input-field-text" name="keyResultOne" type="text" value="<%= data.keyResultOne %>">		
			<input class="center-spacing above-padding update-form large-text-size input-field-text" name="dueDateOne" type="text" value="<%= data.dueDateOne.toLocaleDateString("en-US") %>">
			<input class="center-spacing above-padding update-form large-text-size input-field-text" name="keyResultOneProgress" type="text" value="<%= data.keyResultOneProgress %>">
	</div>
	<div class="row-box container above-padding">
		<input class="center-spacing above-padding update-form large-text-size input-field-text" name="keyResultTwo" type="text" value="<%= data.keyResultTwo %>">		
		<input class="center-spacing above-padding update-form large-text-size input-field-text" name="dueDateTwo" type="text" value="<%= data.dueDateTwo.toLocaleDateString("en-US") %>">
		<input class="center-spacing above-padding update-form large-text-size input-field-text" name="keyResultTwoProgress" type="text" value="<%= data.keyResultTwoProgress %>">
	</div>
	<div class="row-box container above-padding">
		<input class="center-spacing above-padding update-form large-text-size input-field-text" name="keyResultThree" type="text" value="<%= data.keyResultThree %>">		
		<input class="center-spacing above-padding update-form large-text-size input-field-text" name="dueDateThree" type="text" value="<%= data.dueDateThree.toLocaleDateString("en-US") %>">
		<input class="center-spacing above-padding update-form large-text-size input-field-text" name="keyResultThreeProgress" type="text" value="<%= data.keyResultThreeProgress %>">
	</div>
	<div class="center-spacing">
		<input class="button-link margin-above" type="submit" value="Save Updates to OKR">
	</div>
</form>
<div class="detail-button-placement">
	<form id="deleteForm" action="/okrs/<%= data._id %>?_method=DELETE" method="POST">
        <input class="delete-button-link" type="submit" value="Delete OKR">
    </form>
	<div>
		<input type="button" id="showUpdateForm" class="button-link" onclick="handleClick()" value="Update OKR" />
	</div>
	<div>
		<a id="hideAddNoteButton" href="/notes/new/<%= data._id %>" class="button-link">Add a Note</a>
	</div>
</div>
<div>
	<% if (notes.length) { %>
		<% notes.forEach(function(n) { %>
			<div class="note-index">
				<% const matchingNote = notes.find(note => note.okrId.toString() === data._id.toString()); %>
				<% if (matchingNote) { %>
					<div class="note-date large-text-size">
						<p><%= matchingNote.logDate.toLocaleDateString("en-US") %></p>
					</div>
					<div>
					<i class="large-text-size input-field-text"><%= matchingNote.noteText %></i>
					</div>	
			</div>
			<% } else { %>
				<h5 class="large-text-size center-spacing note-index">You haven't taken any notes for this OKR yet.</h5>
			<% } %>
		<% }) %>
	<% } %>
</div>
</div>
<script>
var keyResultOneProgress = <%= data.keyResultOneProgress %>;
var keyResultTwoProgress = <%= data.keyResultTwoProgress %>;
var keyResultThreeProgress = <%= data.keyResultThreeProgress %>;

var averageProgress = (keyResultOneProgress + keyResultTwoProgress + keyResultThreeProgress) / 3;
var averageProgressElement = document.getElementById("averageProgress");
averageProgressElement.textContent = averageProgress.toFixed(0) + "%";

function handleClick () {
	const myForm = document.getElementById("updateOkrForm");
	const hidePageInfo = document.getElementById("hideDetailsPageInfo");
	const hideAddNoteButton = document.getElementById("hideAddNoteButton");
	const deleteForm = document.getElementById("deleteForm");
	const showUpdateForm = document.getElementById("showUpdateForm");
	if (myForm.style.display !== "none") {
		myForm.style.display = "none";
		hidePageInfo.style.display = "block";
		hideAddNoteButton.style.display = "block";
		deleteForm.style.display = "block";
		showUpdateForm.style.display = "block";
	} else {
		myForm.style.display = "block";
		hidePageInfo.style.display = "none";
		hideAddNoteButton.style.display = "none";
		deleteForm.style.display = "none";
		showUpdateForm.style.display = "none";
	}
}
</script>

<%- include('../partials/footerNote') %>