<%- include('../partials/header') %>

<% if (okrs.length) { %>
	<% okrs.forEach(function(i) { %>
		<div><%= i.objective %></div>
		<div><%= i.eoqDate %></div>
		<div><%= i.keyResultOne %></div>
		<div><%= i.dueDateOne %></div>
		<div><%= i.keyResultTwo %></div>
		<div><%= i.dueDateTwo %></div>
		<div><%= i.keyResultThree %></div>
		<div><%= i.dueDateThree %></div>
		<div><%= i.QuarterYearChoice %></div>
	<% }) %>
<% } else { %>
<h5>You haven't set any OKRs yet.</h5>
<% } %>

<%- include('../partials/footer') %>