<%- include('../partials/header') %>

<% if (okrs.length) { %>
	<% okrs.forEach(function(i) { %>
	<div class="note-index">
		<h1 class="center-spacing"><%= i.QuarterYearChoice %></h1>
		<div class="row-box container align-left purple-background large-text-size">
			<h3 class="white-font">OKR</h3>
			<h3 class="center-spacing white-font">Due Date</h3>
			<h3 class="center-spacing white-font">Progress</h3>
		</div>
		<div class="row-box container above-padding xlarge-text-size">
			<div class="align-left above-padding">
				<%= i.objectiveSpot %>: <%= i.objective %>
			</div> 
			<div class="center-spacing above-padding">
				<%= i.eoqDate.toLocaleDateString("en-US") %>
			</div>
			<div class="center-spacing above-padding">
				0%
			</div>
		</div>
		<div class="row-box container above-padding xlarge-text-size">
			<div class="align-left above-padding">
				KR1: <%= i.keyResultOne %>
			</div>
			<div class="center-spacing above-padding">
				<%= i.dueDateOne.toLocaleDateString("en-US") %>
			</div>
			<div class="center-spacing above-padding">
				<%= i.keyResultOneProgress %>%
			</div>
		</div>
		<div class="row-box container above-padding xlarge-text-size">
			<div class="align-left above-padding">
				KR2: <%= i.keyResultTwo %>
			</div>
			<div class="center-spacing above-padding">
				<%= i.dueDateTwo.toLocaleDateString("en-US") %>
			</div>
			<div class="center-spacing above-padding">
				<%= i.keyResultTwoProgress %>%
			</div>
		</div>
		<div class="row-box container above-padding xlarge-text-size">
			<div class="align-left above-padding">
				KR3: <%= i.keyResultThree %>
			</div>
			<div class="center-spacing above-padding">
				<%= i.dueDateThree.toLocaleDateString("en-US") %>
			</div>
			<div class="center-spacing above-padding">
				<%= i.keyResultThreeProgress %>%
			</div>
		</div>	
		<div class="center-spacing">
			<a class="button-link margin-above" href="okrs/<%= i._id %>">See Details</a>
		</div>
	</div>
	<% }) %>
<% } else { %>
<h5>You haven't set any OKRs yet.</h5>
<% } %>

<%- include('../partials/footer') %>