<%- include('../partials/header') %>

<% if (okrs.length) { %>
	<% okrs.forEach(function(i) { %>
		<div><%= i.QuarterYearChoice %></div>
		<div>
			Objective: <%= i.objective %><br/>
			Date:<%= i.eoqDate %><br/>
			Progress: 0%<br/>
			<a href="okrs/<%= i._id %>">See Details</a>
		</div>
		<div>
			KR1: <%= i.keyResultOne %><br/>
			Due Date: <%= i.dueDateOne %><br/>
			Progress: <%= i.keyResultOneProgress %>%<br/>
			<a href="okrs/<%= i._id %>">See Details</a>
		</div>
		<div>
			KR2: <%= i.keyResultTwo %><br/>
			Due Date: <%= i.dueDateTwo %><br/>
			Progress: <%= i.keyResultTwoProgress %>%<br/>
			<a href="okrs/<%= i._id %>">See Details</a>
		</div>
		<div>
			KR3: <%= i.keyResultThree %><br/>
			Due Date: <%= i.dueDateThree %><br/>
			Progress: <%= i.keyResultThreeProgress %>%<br/>
			<a href="okrs/<%= i._id %>">See Details</a>
		</div>
		<div>
			Notes go here...
		</div>
	<% }) %>
<% } else { %>
<h5>You haven't set any OKRs yet.</h5>
<% } %>

<%- include('../partials/footer') %>