<%- include('../partials/header') %>

<div><%= data.QuarterYearChoice %></div>
<form id="update-okr-form" method="POST" action="/okrs/<%= data._id %>?_method=PUT">
<div>
	<label>Objective:</label>
    <textarea name="content"><%= data.objective %></textarea>
	<label>Date:</label>
    <textarea name="content"><%= data.eoqDate %></textarea>
    <label>Progress:</label>
    <textarea name="content">0%</textarea>
</div>
<div>
    <label>KR1:</label>
    <textarea name="content"><%= data.keyResultOne %></textarea>
    <label>Due Date:</label>
    <textarea name="content"><%= data.dueDateOne %></textarea>
    <label>Progress:</label>
    <textarea name="content"><%= data.keyResultOneProgress %>%</textarea>
</div>
<div>
    <label>KR2:</label>
    <textarea name="content"><%= data.keyResultTwo %></textarea>
    <label>Due Date:</label>
    <textarea name="content"><%= data.dueDateTwo %></textarea>
    <label>Progress:</label>
    <textarea name="content"><%= data.keyResultTwoProgress %>%</textarea>
</div>
<div>
    <label>KR3:</label>
    <textarea name="content"><%= data.keyResultThree %></textarea>
    <label>Due Date:</label>
    <textarea name="content"><%= data.dueDateThree %></textarea>
    <label>Progress:</label>
    <textarea name="content"><%= data.keyResultThreeProgress %>%</textarea>
</div>
<div>
	<form id="update-form" action="/okrs/<%= data._id %>?_method=UPDATE" method="PUT">
        <input class="button-link" type="submit" value="Save OKR Updates">
    </form>
</div>
<%- include('../partials/footerNote') %>