<%- include('../partials/header') %>

<% if (notes.length) { %>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Note</th>
				<th>OKR</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= n.addDate.toLocaleDateString() %></td>
				<td><%= n.noteText %></td>
				<td><%= n.okrChoice %></td>
			</tr>
		</tbody>
	</table>
<% } else { %>
<h5 class="purple-font">You haven't taken any notes yet.</h5>
<% } %>

<%- include('../partials/footer') %>