<%- include('./partials/header') %>

<% if (!user) { %>
	<p>please login to continue</p>
<% } else { %>
	<section id="show-notes">
		<div>Date: </div>
		<div><%= note.date %></div>
		<div>Note: </div>
		<div><%= note.noteText %></div>
		<div>OKR: </div>
		<div><%= note.okrChoice %></div>
	  </section>
<% } %>

<%- include('./partials/footer') %>